body {
    background-color: #FFFFFF;
}

.gradient-img {
    filter: brightness(60%);
    height: 75%;
}

.image-height {
    height: 700px;
}

.image-width {
    width: 10%;
}

.content {
    margin-top: 100px;
}